* { padding: 0px;  margin: 0px; box-sizing: border-box; }

/*The colors I used were from the explore section of adobe color*/

a {color: #CAE6E8;}

body{background-color: #2B2E2E;}

p{color: #A2ABA5}

em{color: rgb(143,38,31); }

b{background-color: rgb(199, 58, 222);}

u{background-color: orange;}


